{% extends 'groups/group_base.html' %}
{% load static %}

{% block pregroup %}
    <div class="col-md-8">
        <div>
        
        {% if user.is_authenticaed %}
            <h2>Welcome back {{user.first_name}}</h2>
            <h3><a href="{% url 'accounts:profile' username=user.username %}">@{{user.username}}</a></h3>
        {% endif %}
        <h2>Here are the groups on NAIJASOCIAL</h2>
        </div>

    </div>
{% endblock %}

{% block group_content %}
    <div class="col-md-8">
    {% if object_list %}
        {% for group in object_list %}
            <a href="{% url 'groups:single' slug=group.slug %}"><h3>{{group.name}}</h3></a>
            <div>
                {{group.description_html|safe}}
                <div class="row">
                    <div class="col-md-6">
                        <span class="badge">{{group.members.count}}</span> member{{group.members.count|pluralize}}
                    </div>
                    <div class="col-md-6">
                        <span class="badge">{{group.posts.count}}</span> post{{group.posts.count|pluralize}}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No group created yet. </h2>
    {% endif %}
        
    
    </div>
{% endblock group_content %}
    
    